body, html{
    font-family: "Tektur", sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;  
    justify-content: center;
    gap: 0.5rem;
}

h1, #start, #alert{
    align-self: center;
    margin: 0;
}

#start:hover{
    box-shadow: 0 4px 8px 0 rgba(22, 237, 65, 0.642), 0 6px 20px 0 rgba(0, 255, 0, 0.571)
}

.row{
    display: flex;
}

#player1, #player2{
    gap: 10px; 
    justify-items: center; 
    align-items: center; 
}

.cell{
    padding: 1rem;
    background-color: rgb(24, 200, 254);
    margin: 0.1rem;
}

main{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;
}

form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

dialog{
    border: 0;
    border-radius: 1rem;
}

label{
    align-self: center;
}

button{
    background-color: rgb(36, 255, 102);
    border: 0;
    color: white;
    font-weight: bold;
    border-radius: 1rem;
    padding: 0.5rem;
    cursor: pointer;
}